body { 
	border:0;
	font-size:100.1%;
    background: #DADADA; }
button { 
    background: #5489b8;
    padding:0 5px 0 5px; }
p { 
	font-size:1.2em; }
.zero9 { 
	font-size:0.9em; }
.center {
	text-align:center; }
.imagespace{	
	 margin-top:75px; }



